<div appScrollAnimate
     [animationClass]="'zoom-on-reload'"
     [threshold]="0.2" class="py-5 md:py-10">

  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full flex size-8 animate-bounce text-sky-400">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
  </svg>

  <div class="underline underline-offset-8 text-xl font-bold text-center md:text-3xl text-sky-100 py-10">
    Skills
  </div>

  <div class="flex flex-col gap-10 py-5">

    <div class="w-full text-center space-y-2">

      <div class="py-5 text-center space-y-2">
        <span class="text-base font-bold md:text-2xl text-sky-500 block">Programming Languages:</span>
        <span class="block pb-2"> Python | SQL | R | C | C++ | DAX</span>

        <span class="text-base font-bold md:text-2xl text-sky-500 block">Data Visualization Tools:</span>
        <span class="block pb-2"> Power BI | Tableau | Microsoft Excel | Google Sheets </span>

        <span class="text-base font-bold md:text-2xl text-sky-500 block">Machine Learning:</span>
        <span class="block pb-2"> Linear Regression | Logistic Regression | K-Means Clustering  </span>

        <span class="text-base font-bold md:text-2xl text-sky-500 block">Databases:</span>
        <span class="block pb-2"> MySQL | PostgreSQL</span>

        <span class="text-base font-bold md:text-2xl text-sky-500 block">Data Warehouses:</span>
        <span class="block pb-2"> Google Big Query | Snowflake. </span>

        <span class="text-base font-bold md:text-2xl text-sky-500 block">Statistical Analysis:</span>
        <span class="block pb-2"> EDA | A/B Testing | Root-cause Analysis | Time Series Analysis  </span>

      </div>

    </div>


  </div>
</div>

