<div class="py-5 md:py-10" appScrollAnimate
     [animationClass]="'zoom-on-reload'"
     [threshold]="0.2">

  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full flex size-8 animate-bounce text-sky-400">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
  </svg>

  <div class="underline underline-offset-8 text-xl font-bold text-center md:text-3xl text-sky-100 py-10">
    Certifications
  </div>


  <div class="flex flex-col md:flex-row gap-5 py-5 mt-10">

    <div class="achievement-card">
      <div class="text-sm md:text-lg text-center font-bold">Google Data Analytics Professional Certificate </div>
      <a href="https://www.coursera.org/account/accomplishments/professional-cert/F0ETZUKK3HZM?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=prof" class="flex justify-center text-sm md:text-base text-center text-[#28A9E0]">Specialization Certificate
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"/>
        </svg>
      </a>
    </div>

    <div class="achievement-card">
      <div class="text-sm md:text-lg text-center font-bold"> Career Essentials in Business Analysis </div>
      <a href="https://www.linkedin.com/learning/certificates/42ce8d08727764ce20a16a979757be06ef397b19afe7d5774b25d3767b2365e7?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BBe7KcRQ%2BQ4y6qtv5NR7f6Q%3D%3D" class="flex justify-center text-sm md:text-base text-center text-[#28A9E0]">LinkedIn Learning Certificate
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"/>
        </svg>
      </a>
    </div>

    <div class="achievement-card">
      <div class="text-sm md:text-lg text-center font-bold">Career Essentials in Data Analysis </div>
      <a href="https://www.linkedin.com/learning/certificates/c93a69c11bab182c9fb097656322f15da19edf2a1bbb40a47bc5aa7417834f2b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BBnbLmbCzSVKPQDnNEOk3jQ%3D%3D" class="flex justify-center text-sm md:text-base text-center text-[#28A9E0]">LinkedIn Learning Certificate
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"/>
        </svg>
      </a>
    </div>

  </div>

  <div class="flex flex-col md:flex-row gap-5 md:justify-center">

    <div class="achievement-card">
      <div class="text-sm md:text-lg text-center font-bold"> Data Analyst in Power BI</div>
      <a href="https://www.datacamp.com/completed/statement-of-accomplishment/track/5ecb6b597b5ffe7d8352a935b3628325b6c8595f?share=true" class="flex justify-center text-sm md:text-base text-center text-[#28A9E0]">Power BI Certificate
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"/>
        </svg>
      </a>
    </div>

  </div>

</div>
