<div class="py-5 md:py-10"  appScrollAnimate
     [animationClass]="'zoom-on-reload'"
     [threshold]="0.2">
  <img class="animate-bounce" ngSrc="assets/Module%20title.svg" alt="" height="146" width="1664" priority>
  <div class="text-xl font-bold text-center md:text-3xl text-[#12F7D6]">
    Blog
  </div>

  <div class="flex justify-center items-center w-full">
    <img ngSrc="assets/Line%2022.svg" height="12" width="160" alt="" class="w-1/4" priority>
  </div>

  <div class="text-center">Coming Soon!</div>

</div>
