<div class="text-black h-3/4 flex flex-col md:flex-row items-center justify-center text-center gap-10 md:gap-20 py-5 md:py-20 zoom-on-reload">
  <div class="w-full md:w-2/4 text-center md:text-end gap-4">
    <div class="text-sky-100 text-4xl font-bold py-5 pt-28 md:pt-10">
      Hey<br>
      I'm <span class="text-black text-sky-500">Suman,</span><br>
      <span class="text-white animate-pulse">Data Analyst</span>
    </div>
    <div class="text-white text-sm md:text-base">
      Enthusiastic Data Analyst with a CSE degree majoring in Intelligent Systems and Data Science from EWU.
      A quick learner and problem solver proficient in Python, SQL, Power BI, Excel and dedicated to providing
      impactful data insights to drive organizational growth and efficiency.
    </div>
  </div>

  <div class="flex items-center justify-center">
    <div class="md:mt-10">
      <img ngSrc="assets/MySelf_Image.png" alt="Portfolio" height="405" width="405" priority/>
    </div>
  </div>
</div>



<div class="flex flex-col items-center justify-center space-y-2">
  <div class="text-2xl text-sky-100 font-bold">Connected With Me</div>
  <div class="flex gap-1 pb-10">
    <a href="mailto:sumanakanda10@gmail.com" target="_blank">
      <img class="cursor-pointer mt-0.5 hover:scale-125 transform transition duration-200"
           ngSrc="assets/Email.svg"
           alt="Email"
           height="40"
           width="40">
    </a>

    <a href="https://github.com/sumanakanda" target="_blank">
      <img class="cursor-pointer hover:scale-125 transform transition duration-200"
           ngSrc="assets/Github-dark.svg"
           alt="Github"
           height="40"
           width="40">
    </a>

    <a href="https://www.linkedin.com/in/suman-akanda/" target="_blank">
      <img class="cursor-pointer hover:scale-125 transform transition duration-200"
           ngSrc="assets/Linkedin.svg"
           alt="LinkedIn"
           height="40"
           width="40">
    </a>

    <button class="flex items-center gap-1 text-slate-200 font-semibold text-xs md:text-base px-2 py-2 text-black font-medium rounded-lg hover:scale-105 transform transition duration-20" (click)="downloadCV()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
      </svg>CV</button>
  </div>
</div>
